/* Font styles */
@font-face {
  font-family: 'Manrope';
  src: url('..fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('..fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('..fonts/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('..fonts/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


/* sets font */
body {
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
}
    .name{
        text-align: center;
        font-size: 3.5rem;
        letter-spacing: 0.1em;
    }
    .container {
        padding: 3%;
        display: flex;
        justify-content: center; /* center horizontally */
    }
    .container img {
        padding: 1%;
        width: 300px;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-width: 0px;
        border-color: #000000;
        border-radius: 40px;
        object-fit: contain; /* or 'cover' depending on your requirements */
        
    }
    .doubleButtonContainer{
        text-align: center;
        height: auto;
        position: relative;
        padding: 40px
    }
    .singleButtonContainer{
        text-align: center;
        height: auto;
        position: relative;
        padding: 1%
    }

    .buttonHeaderText{
      font-size: 2.3rem;
      font-weight: bold;

    }
    .buttonDescriptionText{
      font-size: 1.4rem;
      font-weight: light;
      line-height: 20px;
    }

    .button1 {
        border-color: #000000;
        background-color: #0f0000cb;
        border-width: 1px;
        /* Button attributes 
        border-width: 0px;
        border-color: #000000;*/
        border-radius: 25px;
        cursor: pointer;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        width: 400px;
        height: 200px;
        position: relative;


        /* Text attributes */
        color: #e9e9e9;
        padding: 20px 16px 20px 60px;
        font-weight: 300;
        text-align: right;


        /*
        content: attr(data-icon);
        font-family: "ETmodules";
        line-height: inherit;
        font-size: inherit; */

    }
 
  /* Button styles for screens at least 640px wide */
  @media (min-width: 640px) {
    .button1 {
      font-size: 1.3rem;
      padding: 1em 2em;
      width: 400px;
    
    }
  }
  
  /* Button styles for screens at least 768px wide */
  @media (min-width: 768px) {
    .button1 {
      font-size: 1.8rem;
      padding: 25px 25px 25px 70px;
      width: 550px;
      
    }
  }
  
  /* Button styles for screens at least 1024px wide */
  @media (min-width: 1024px) {
    .button1 {
      font-size: 1.9rem;
      padding: 30px 30px 30px 80px;
      width: 650px;
      
    }
  }
  
  /* Button styles for screens at least 1280px wide */
  @media (min-width: 1280px) {
    .button1 {
      font-size: 2.2rem;
      padding: 35px 35px 35px 90px;
      width: 700px;
      
    }
  }
  
  /* Button styles for screens at least 1536px wide */
  @media (min-width: 1536px) {
    .button1 {
      font-size: 2.4rem;
      padding: 35px 35px 35px 95px;
      width: 750px;
     
    }
  }

  .button1 .icon {
    position: absolute; /* position the icon absolutely within the button */
    left: 0; /* position the icon at the left of the button */
    top: 50%; /* position the icon at the center of the button */
    transform: translateY(-50%); /* position the icon at the center of the button */
    padding: 24px; /* add padding around the icon */
  }
  

    body{

      margin: 0;
      padding: 0;
      height: 100%;
      /* Background styles */
      background-image: linear-gradient(
        90deg,
        hsl(0deg 0% 0%) 0%,
        hsl(206deg 100% 18%) 20%,
        hsl(206deg 100% 36%) 30%,
        hsl(204deg 100% 53%) 38%,
        hsl(198deg 100% 65%) 42%,
        hsl(191deg 100% 77%) 47%,
        hsl(191deg 100% 77%) 52%,
        hsl(198deg 100% 65%) 57%,
        hsl(204deg 100% 53%) 62%,
        hsl(206deg 100% 36%) 70%,
        hsl(206deg 100% 18%) 80%,
        hsl(0deg 0% 0%) 100%);

      
      background-repeat: no-repeat;
      background-size: cover;
    
        
    }

