/* font size funkar inte på knappar, inte heller font weight riktigt? Kan inte få light verkar det som, stannar på normal */
       
    .name{
        text-align: center;
        font-size: 3rem;
    }
    .container {
        padding: 3%;
        display: flex;
        justify-content: center; /* center horizontally */
    }
    .container img {
        padding: 1%;
        width: 300px;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-width: 0px;
        border-color: #000000;
        border-radius: 40px;
        object-fit: contain; /* or 'cover' depending on your requirements */
        
    }
    .doubleButtonContainer{
        text-align: center;
        height: auto;
        position: relative;
        padding: 40px
    }
    .singleButtonContainer{
        text-align: center;
        height: auto;
        position: relative;
        padding: 1%
    }


    .button1 {
        /* Button attributes */
        border-width: 0px;
        border-color: #000000;
        border-radius: 25px;
        cursor: pointer;
        background-image: linear-gradient(181deg,#0a0000 5%,#cccccc 140%);
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;


        /* Text attributes */
        color: #FFFFFF;
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
        font-weight: 300;


        /*
        content: attr(data-icon);
        font-family: "ETmodules";
        line-height: inherit;
        font-size: inherit; */

    }
 
  /* Button styles for screens at least 640px wide */
  @media (min-width: 640px) {
    .button1 {
      font-size: 1.25rem;
      padding: 1rem 2rem;
      width: 250px;
    
    }
  }
  
  /* Button styles for screens at least 768px wide */
  @media (min-width: 768px) {
    .button1 {
      font-size: 1.5rem;
      padding: 1.25rem 2.5rem;
      width: 250px;
      
    }
  }
  
  /* Button styles for screens at least 1024px wide */
  @media (min-width: 1024px) {
    .button1 {
      font-size: 1.75rem;
      padding: 1.5rem 3rem;
      width: 300px;
      
    }
  }
  
  /* Button styles for screens at least 1280px wide */
  @media (min-width: 1280px) {
    .button1 {
      font-size: 2rem;
      padding: 1.75rem 3.5rem;
      width: 300px;
      
    }
  }
  
  /* Button styles for screens at least 1536px wide */
  @media (min-width: 1536px) {
    .button1 {
      font-size: 2.25rem;
      padding: 2rem 4rem;
      width: 350px;
     
    }
  }

/* Font styles */
html {

    font-size: 14px
  
  }
   @font-face {
    font-family: 'Manrope';
    src: url('..fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('..fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('..fonts/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Manrope';
    src: url('..fonts/Manrope-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }

  
  /* sets font */
  body {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
  }
  

    body{
        /* Background styles */
        background-image: linear-gradient(90deg,
        hsl(0deg 0% 0%) 0%,
        hsl(206deg 100% 18%) 20%,
        hsl(206deg 100% 36%) 30%,
        hsl(204deg 100% 53%) 38%,
        hsl(198deg 100% 65%) 42%,
        hsl(191deg 100% 77%) 47%,
        hsl(191deg 100% 77%) 52%,
        hsl(198deg 100% 65%) 57%,
        hsl(204deg 100% 53%) 62%,
        hsl(206deg 100% 36%) 70%,
        hsl(206deg 100% 18%) 80%,
        hsl(0deg 0% 0%) 100%);

        background-repeat: no-repeat;
    }
    html{
        margin: 0;
        height: 100%;
    }
